node_modules
dist
styles.css
coverage
*.tgz
.DS_Store
*.log

# examples
examples/*/.next
examples/*/dist
examples/*/next-env.d.ts

# playwright
playwright-report
test-results
blob-report
playwright/.cache
